{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
      Dynamic Quiz System
    </title>
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <script src="{% static 'bootstrap5/js/bootstrap.bundle.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'jquery-3.7.1.min.js' %}" crossorigin="anonymous"></script>
</head>
<body>
    <header class="p-3 text-bg-dark mb-2" >
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <div class="col-md-3 mb-2 mb-md-0">
                  <spam class="fs-4 text-white">Dynamic Quiz System (Student)</spam>
                </a>
              </div>
        
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'student_dashboard' %}" class="nav-link link-light px-1 text-warning me-2" >Dashboard</a></li>
                <li><a href="{% url 'student_exam' %}" class="nav-link link-light px-1 text-warning me-2" >Exam</a></li>
              </ul>

              <div class="col-md-3 text-end">
                <a href="{% url 'logout' %}" class="btn btn-outline-warning me-2">logout</a>
              </div>
              
            </div>
            </header>
                <main class="container bg-black p-3 rounded" >
                    <div class="card text-center">
                      <div class="card-header">
                        Assignment List
                      </div>
                      <div class="card-body">
                        <table class="table table-hover table-bordered" id="dev-table">
                            <thead>
                              <tr>
                      
                                <th>Exam Name</th>
                                
                                <th>Action</th>
                              </tr>
                            </thead>
                            {% for assignment in Assignments %}
                            <tr>
                      
                              <td> {{ assignment.assignment_name }}</td>
                              
                              <td>
                                {% if assignment.aid in completed_assignments %}
                                    <span class="text-muted">Completed</span>
                                {% else %}
                                    <a class="btn btn-success btn-sm" style="border-radius:0px;" href="{% url 'take_exam' assignment.aid %}">Attend Exam</a>
                                {% endif %}
                            </td>                            
                          </tr>
                            {% endfor %}
                          </table>
                        </div>
                      </div>
                      
                      </div>